body {
  text-align: center;
}

.header {
  background: url(../img/building.png) no-repeat center center;
  background-size: cover;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}
